*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[data-sl] {
    cursor: pointer;
}

body {
    min-height: 100vh;
    background: rgb(248, 249, 250);
    font-family: -apple-system, "Microsoft Yahei", Arial;
    --theme-color: rgb(63, 81, 181);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

#loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    visibility: hidden;
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    background: #fff;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

#loading-indicator.in {
    visibility: visible;
    opacity: 0.7;
}

@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-indicator.in::before {
    display: inline-block;
    width: 15vmin;
    height: 15vmin;
    border: 1.5vmin solid var(--theme-color);
    border-radius: 50%;
    content: "";
    border-top-color: rgba(0, 0, 0, 0.1);
    animation: donut-spin 0.5s linear infinite;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0;
    transition: 0.3s;
}

#mask.in {
    visibility: visible;
    opacity: 0.5;
}

header {
    position: sticky;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 50px;
    background: var(--theme-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 0;
    transition: 0.3s;
    transform: translateY(-55px);
}

header.in {
    transform: translateY(0);
}

header>i {
    float: left;
    /* display: inline-block; */
    width: 50px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

header>#js-gotop {
    float: right;
    opacity: 0.9;
}

header>i.avatar {
    float: left;
    margin: 10px 0;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url("/favicon.svg");
}

header>i>svg {
    margin: 14px 0;
    height: 22px;
    fill: #fff;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    visibility: hidden;
    overflow: hidden auto;
    width: 240px;
    height: 100vh;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 0 9px 0;
    transition: 0.3s;
    transform: translateX(-100%);
    will-change: transform;
}

aside.in {
    visibility: visible;
    transform: unset;
}

aside>.brand {
    padding-top: 45px;
    padding-left: 30px;
    height: 210px;
    background: var(--theme-color);
}

aside>.brand>#js-open-palette {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.7s 0.3s;
}

aside>.brand>#js-open-palette>svg {
    margin: 14px 0;
    height: 22px;
    fill: #fff;
}

aside.in>.brand>#js-open-palette {
    opacity: 0.7;
    transform: rotate(360deg);
}

aside>.brand>.avatar {
    display: block;
    width: 90px;
    height: 90px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url("/favicon.svg");
}

aside>.brand>.name {
    padding-top: 15px;
    width: 90px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

aside>.nav>li {
    padding-left: 20px;
    color: #555;
    line-height: 45px;
}

aside>.nav>li:hover {
    background: rgba(0, 0, 0, 0.05);
    color: var(--theme-color);
}

aside>.nav>li>i>svg {
    position: relative;
    top: 3px;
    height: 18px;
    fill: #555;
}

aside>.nav>li:hover>i>svg {
    fill: var(--theme-color);
}

aside>.nav>li>i {
    display: inline-block;
    width: 2.5em;
    height: 45px;
    text-align: center;
}

#content {
    width: 100%;
    min-height: 100vh;
}

#footer {
    position: relative;
    z-index: 4;
    background: var(--theme-color);
}

.posts-list {
    display: flex;
    padding-top: 15px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 770px) {
    .posts-list {
        padding-top: 10px;
    }
}

.posts-list>li {
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
}

@media screen and (max-width: 770px) {
    .posts-list>li {
        max-width: unset;
    }
}

.posts-list .post-footer li {
    display: inline-block;
    margin-top: 7px;
    margin-right: 0.5em;
    padding: 1px 0.5em;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    font-size: 12px;
    filter: grayscale(0.5);
}

.posts-list .post-footer li:first-child {
    margin-right: 0.9em;
}

.posts-list .post-footer li:hover {
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
}

.posts-list h3 {
    position: relative;
    display: inline-block;
    margin-top: -3px;
    color: var(--theme-color);
    font-weight: normal;
    font-size: 20px;
}

.posts-list p {
    margin-top: 9px;
    margin-bottom: 5px;
}

.posts-list h3::after {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 1px;
    background: var(--theme-color);
    content: "";
    transition: 0.2s;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.posts-list h3:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.posts-list.compact h2 {
    display: inline-block;
    padding: 0.1em 0.3em;
    background: var(--theme-color);
    color: #fff;
    font-size: 20px;
}

.posts-list.compact h2::after {
    display: none;
}

.posts-list.compact span {
    margin-right: 0.5em;
    padding: 0 0.3em;
    border: 1px solid var(--theme-color);
    background: #fff;
    color: var(--theme-color);
    font-size: 0.7em;
}

.posts-list.compact h4 {
    display: list-item;
    margin-top: 0.5em;
    margin-left: 1.5em;
    width: fit-content;
    color: var(--theme-color);
    font-weight: normal;
    filter: grayscale(0.5);
}

.page-number-nav {
    margin-top: -0.9em;
    text-align: center;
    user-select: none;
}

.page-number-nav>li {
    display: inline-block;
    padding: 0.9em 1.7em;
    color: var(--theme-color);
    font-weight: bold;
    font-size: 14px;
    opacity: 0.7;
}

.page-number-nav>li:hover {
    opacity: 1;
}

#content h2.lite {
    font-weight: normal;
}

#content>article {
    margin: 15px auto 20px auto;
    padding: 25px 20px;
    width: 100%;
    max-width: 700px;
    min-height: 100vh;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
}

@media screen and (max-width: 770px) {
    #content>article {
        margin: 0;
        max-width: unset;
    }
}

footer {
    background: var(--theme-color);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 12px;
    line-height: 30px;
}

/* Developing Features */
