*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-sl] {
  cursor: pointer;
}

body {
  background: rgb(248, 249, 250);
  --theme-color: rgb(63, 81, 181);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

#loading-indicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  padding-top: 120px;
  background: #fff;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

#loading-indicator.in {
  visibility: visible;
  opacity: 0.7;
  transition: 0.3s;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-indicator.in::before {
  display: inline-block;
  width: 10vmin;
  height: 10vmin;
  min-width: 60px;
  min-height: 60px;
  border: 5px solid var(--theme-color);
  border-radius: 50%;
  content: "";
  border-top-color: rgba(0, 0, 0, 0.1);
  animation: donut-spin 0.5s linear infinite;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0;
  transition: 0.3s;
}

#mask.in {
  visibility: visible;
  opacity: 0.5;
}

header {
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 50px;
  background: var(--theme-color);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  transform: translateY(-55px);
}

header.in {
  transform: translateY(0);
}

header>i {
  float: left;
  padding: 10px;
  width: 50px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

header>#js-gotop {
  float: right;
  opacity: 0.95;
}

header>.avatar {
  float: left;
  margin: 10px 0;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("/favicon.svg");
}

header>i>svg {
  fill: #fff;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  visibility: hidden;
  overflow: hidden auto;
  width: 70%;
  max-width: 260px;
  background: #fff;
  box-shadow: 5px 0 9px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  transform: translateX(-100%);
}

aside.in {
  visibility: visible;
  transform: translateX(0);
}

aside>.brand {
  padding: 13% 0 9% 12.5%;
  background: var(--theme-color);
  font-size: calc(15%);
}

aside>.brand>#js-open-palette {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  transition: 0.7s 0.3s;
}

aside.in>.brand>#js-open-palette {
  opacity: 0.7;
  transform: rotate(360deg);
}

aside>.brand>#js-open-palette>svg {
  fill: #fff;
}

aside>.brand>.avatar {
  display: block;
  width: 21vw;
  height: 21vw;
  max-width: 90px;
  max-height: 90px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("/favicon.svg");
}

aside>.brand>.name {
  margin-top: 13px;
  width: 21vw;
  max-width: 90px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

aside>.nav>li {
  padding-left: 11%;
  color: #333;
  line-height: 50px;
  transition: 0.3s;
}

aside>.nav>li:hover {
  background: rgba(0, 0, 0, 0.05);
  color: var(--theme-color);
}

aside>.nav>li i {
  display: inline-block;
  margin-right: 0.7em;
  width: 1.5em;
}

aside>.nav>li svg {
  position: relative;
  top: 0.35em;
  fill: #555;
}

aside>.nav>li:hover svg {
  fill: var(--theme-color);
}

#content {
  width: 100%;
  min-height: 100vh;
}

.posts-list {
  display: flex;
  width: 100%;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .posts-list {
    padding: 0;
  }
}

.posts-list>li {
  position: relative;
  display: block;
  margin-top: 20px;
  padding: 17px;
  width: 100%;
  max-width: 700px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 770px) {
  .posts-list>li {
    margin-top: 0;
    max-width: unset;
  }
}

.posts-list>li:first-child {
  margin-top: 0;
}

.posts-list>li h3 {
  margin-top: -3px;
  color: var(--theme-color);
  font-weight: normal;
  font-size: 20px;
  transition: 0.2s;
}

.posts-list>li h3:hover {
  text-shadow: 0 0 1px;
}

.posts-list>li p {
  margin-top: 11px;
  margin-bottom: 7px;
}

.posts-list.compact>li h2 {
  display: inline-block;
  padding: 0.1em 0.3em;
  background: var(--theme-color);
  color: #fff;
  font-size: 20px;
}

.posts-list.compact>li h4 {
  display: list-item;
  margin-top: 0.5em;
  margin-left: 1.5em;
  width: fit-content;
  color: var(--theme-color);
  font-weight: normal;
  filter: grayscale(0.5);
}

.post-date {
  margin-right: 0.5em;
  padding: 0 0.3em;
  border: 1px solid var(--theme-color);
  background: #fff;
  color: var(--theme-color);
  font-size: 0.7em;
}

.post-footer>li {
  display: inline-block;
  margin-top: 7px;
  margin-right: 0.5em;
  padding: 2px 0.4em;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  font-size: 12px;
  transition: 0.2s;
}

.post-footer>li:first-child {
  margin-right: 0.75em;
}

.post-footer>li:hover {
  background: rgba(0, 0, 0, 0.03);
}

.page-number-nav {
  text-align: center;
  user-select: none;
  margin-top: -20px;
}

@media screen and (max-width: 770px) {
  .page-number-nav {
    margin-top: 0;
  }
}

.page-number-nav>li {
  display: inline-block;
  padding: 0.7em 2em;
  color: var(--theme-color);
  font-weight: bold;
  font-size: 14px;
  opacity: 0.7;
}

.page-number-nav>li:hover {
  opacity: 1;
}

.post-body {
  display: flex;
  padding: 20px 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .post-body {
    padding: 0;
  }
}

.post-body>article {
  padding: 20px;
  width: 100%;
  max-width: 700px;
  min-height: calc(100vh - 50px);
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 770px) {
  .post-body>article {
    max-width: unset;
  }
}

.post-body>article>h2.lite {
  font-weight: normal;
}

footer {
  background: var(--theme-color);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 12px;
  line-height: 30px;
}
