*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[data-sl] {
    cursor: pointer;
}

body {
    --theme-color: rgb(63, 81, 181);
    background: rgb(248, 249, 250);
    min-height: 100vh;
    font-family: -apple-system, "Microsoft Yahei", Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

#loading-indicator {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: 0.3s;
    z-index: 3;
}

#loading-indicator.in {
    visibility: visible;
    opacity: 1;
}

@keyframes donut-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loading-indicator.in>i {
    display: inline-block;
    border: 1.7vmin solid var(--theme-color);
    border-top-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 15vmin;
    height: 15vmin;
    animation: donut-spin 0.5s linear infinite;
}

#mask {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0;
    transition: 0.3s;
    z-index: 5;
}

#mask.in {
    visibility: visible;
    opacity: 0.5;
}

header {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    background: var(--theme-color);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(0%);
    will-change: transform;
    transition: transform 0.3s;
    z-index: 4;
}

header.out {
    transform: translateY(calc(-100% - 7px));
}

header>i {
    float: left;
    /* display: inline-block; */
    width: 50px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

header>#js-gotop {
    float: right;
    opacity: 0.9;
}

header>i.avatar {
    float: left;
    margin: 10px 0;
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url("/favicon.svg");
}

header>i>svg {
    height: 22px;
    margin: 14px 0;
    fill: #fff;
}

aside {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    will-change: visibility, transform;
    transition: visibility 0.3s, transform 0.3s;
    box-shadow: 5px 0 9px 0 rgba(0, 0, 0, 0.2);
    z-index: 6;
}

aside.in {
    transform: translateX(0);
    visibility: visible;
}

aside>.brand {
    background: var(--theme-color);
    height: 210px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

aside>.brand>#js-open-palette {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transform: rotate(0deg);
    transition: 0.5s 0.3s;
}

aside>.brand>#js-open-palette>svg {
    height: 22px;
    margin: 14px 0;
    fill: #fff;
}

aside.in>.brand>#js-open-palette {
    opacity: 0.7;
    transform: rotate(360deg);
}

aside>.brand>.avatar {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: url(/favicon.svg);
}

aside>.nav {}

aside>.nav>li {
    color: #555;
    padding-left: 20px;
    line-height: 45px;
}

aside>.nav>li:hover {
    background: rgba(0, 0, 0, 0.05);
    color: var(--theme-color);
}

aside>.nav>li>i>svg {
    position: relative;
    top: 3px;
    height: 18px;
    fill: #555;
}

aside>.nav>li:hover>i>svg {
    fill: var(--theme-color);
}

aside>.nav>li>i {
    display: inline-block;
    width: 2em;
    height: 45px;
    text-align: center;
}

aside>.brand>.name {
    color: #fff;
    padding-left: 5px;
    margin-top: 1em;
}

#content {
    width: 100%;
    min-height: 100vh;
}

#footer {
    position: relative;
    background: var(--theme-color);
    z-index: 4;
}

.posts-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    align-items: center;
}

.posts-list>li {
    display: block;
    width: 100%;
    max-width: 700px;
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 770px) {
    .posts-list>li {
        max-width: unset;
    }
}

.posts-list .post-footer {
    white-space: nowrap;
    overflow: auto;
}

.posts-list .post-footer li {
    display: inline-block;
    margin-right: 0.4em;
    padding: 1px 0.5em;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    filter: saturate(0.5);
    font-size: 12px;
}

.posts-list .post-footer li:first-child {
    margin-right: 0.9em;
    filter: unset;
}

.posts-list .post-footer li:hover {
    color: #fff;
    background: var(--theme-color);
}

.posts-list h3 {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    color: var(--theme-color);
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
}

.posts-list p {
    margin: 7px 0;
}

.posts-list h3::after {
    content: "";
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: var(--theme-color);
    transition: 0.2s;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.posts-list h3:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.posts-list.compact h2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    background: var(--theme-color);
    color: #fff;
    padding: 0.1em 0.3em;
    margin-bottom: 0.1em;
}

.posts-list.compact h2::after {
    display: none;
}

.posts-list.compact span {
    display: inline-block;
    height: 100%;
    opacity: 0.6;
    padding: 0 0.3em;
    margin-right: 0.5em;
    background: var(--theme-color);
    color: #fff;
    font-size: 0.7em;
}

.posts-list.compact span:hover {
    opacity: 1;
}

.posts-list.compact h4 {
    display: list-item;
    width: fit-content;
    margin-top: 0.5em;
    margin-left: 1.5em;
    color: var(--theme-color);
    filter: saturate(0.5);
    font-weight: normal;
}

.page-number-nav {
    text-align: center;
    margin-top: -0.9em;
    user-select: none;
}

.page-number-nav>li {
    display: inline-block;
    padding: 0.9em 1.7em;
    color: var(--theme-color);
    opacity: 0.75;
    font-size: 14px;
    font-weight: bold;
}

.page-number-nav>li:hover {
    opacity: 1;
}

#content>article {
    background: #fff;
    padding: 30px 20px;
    margin: 15px auto 20px auto;
    width: 100%;
    max-width: 700px;
    min-height: 100vh;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 770px) {
    #content>article {
        margin: 0;
        max-width: unset;
    }
}

footer {
    background: var(--theme-color);
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    font-size: 12px;
    line-height: 2.5em;
    text-align: center;
    z-index: 4;
}

/* Developing Features */
