:root {
    --theme-color: rgb(63, 81, 181);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[data-sl] {
    cursor: pointer;
    outline: none;
}

body {
    background: #f8f9fa;
    min-height: 100vh;
    font-family: -apple-system, "Microsoft Yahei", Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

#loading-indicator {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: 0.3s;
    z-index: 3;
}

#loading-indicator.in {
    visibility: visible;
    opacity: 1;
}

@keyframes donut-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loading-indicator.in>i {
    display: inline-block;
    border: 1.7vmin solid var(--theme-color);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 15vmin;
    height: 15vmin;
    animation: donut-spin 0.5s linear infinite;
}

#mask {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0;
    transition: 0.3s;
    z-index: 5;
}

#mask.in {
    visibility: visible;
    opacity: 0.5;
}

#top-bar {
    position: relative;
    height: 50px;
    width: 100%;
    background: var(--theme-color);
    color: #fff;
    z-index: 4;
}

#top-bar>i {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

#top-bar>i.avatar {
    float: left;
    margin: 10px 0;
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url("/favicon.svg");
}

#top-bar>i>svg {
    height: 1.3em;
    fill: #fff;
    margin-top: 50%;
    transform: translateY(-50%);
}

#side-bar {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    background: #fff;
    transform: translateX(-100%);
    will-change: visibility, transform;
    transition: visibility 0.3s, transform 0.3s;
    box-shadow: 5px 0 9px 0 rgba(0, 0, 0, 0.2);
    z-index: 6;
}

#side-bar.in {
    transform: translateX(0);
    visibility: visible;
}

#side-bar>.brand {
    background: var(--theme-color);
    height: 210px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#side-bar>.brand>#open__palette {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transform: rotate(0deg);
    transition: 0.5s 0.3s;
}

#side-bar>.brand>#open__palette>svg {
    height: 1.3em;
    fill: #fff;
    margin-top: 50%;
    transform: translateY(-50%);
}

#side-bar.in>.brand>#open__palette {
    opacity: 0.7;
    transform: rotate(360deg);
}

#side-bar>.brand>.avatar {
    display: block;
    width: 80px;
    height: 80px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 2px solid #fff;
    border-radius: 50%;
    background: url(/favicon.svg);
}

#side-bar>.nav {}

#side-bar>.nav>li {
    color: #555;
    text-align: left;
    padding-left: 20px;
    line-height: 45px;
}

#side-bar>.nav>li:hover {
    background: rgba(0, 0, 0, 0.05);
    color: var(--theme-color);
}

#side-bar>.nav>li>i>svg {
    height: 1.1em;
    fill: #555;
    transform: translateY(0.2em);
}

#side-bar>.nav>li:hover>i>svg {
    fill: var(--theme-color);
}

#side-bar>.nav>li>i {
    display: inline-block;
    width: 2em;
    text-align: center;
}

#side-bar>.nav>a>i {
    width: 1.3em;
}

#side-bar>.brand>.name {
    color: #fff;
    padding-left: 5px;
    margin-top: 1em;
}

#content {
    min-height: 100vh;
}

#footer {
    position: relative;
    background: var(--theme-color);
    z-index: 4;
}

.post-list {
    width: 100%;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-list>li {
    width: 100%;
    max-width: 600px;
    display: inline-block;
    margin-bottom: 16px;
    padding: 15px;
    border-radius: 4px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}

.post-list>li>ul>li {
    padding: 0.1em 0.5em;
    display: inline;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    filter: saturate(0.5);
    font-size: 12px;
    cursor: pointer;
    margin-right: 0.3em;
    margin-bottom: 5px;
}

.post-list>li>ul>li:first-child {
    margin-right: 0.7em;
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    filter: unset;
}

.post-list>li>ul>li:hover {
    color: #fff;
    background: var(--theme-color);
}

.post-list h3 {
    position: relative;
    display: inline-block;
    color: var(--theme-color);
    font-weight: normal;
    padding-bottom: 1px;
    margin-bottom: 6px;
}

.post-list p {
    margin-bottom: 10px;
}

.post-list h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--theme-color);
    transition: .3s;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.post-list h3:hover::after {
    transform: scaleX(1);
}

.post-list.compact h3 {
    font-size: 20px;
    font-weight: bold;
    background: var(--theme-color);
    color: #fff;
    padding: 2px 7px;
    margin-bottom: 0.5em;
}

.post-list.compact h3::after {
    display: none;
}

.post-list.compact span {
    background: rgba(0, 0, 0, 0.25);
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
    color: #fff;
    font-size: 0.7em;
}

.post-list.compact span:hover {
    background: rgba(0, 0, 0, 0.5);
}

.post-list.compact h4 {
    color: var(--theme-color);
    filter: saturate(0.5);
    display: list-item;
    width: fit-content;
    /* height: 2em; */
    margin-bottom: 0.5em;
    margin-left: 1.5em;
}

.page-number-nav {
    text-align: center;
}

.page-number-nav>li {
    display: inline-block;
    margin: 0.5em 1em;
    margin-top: -1em;
    padding: 0.7em;
    color: var(--theme-color);
    /* border: 1px solid #000; */
    line-height: 1em;
    opacity: 0.7;
    font-size: 14px;
    font-weight: bold;
    user-select: none;
}

#content.markdown-body {
    background: #fff;
    padding: 30px 20px;
    margin: 20px 20vw 20px 10vw;
    max-width: 700px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}

#content.html-body {}

#footer>p {
    font-size: 12px;
    color: #fff;
    opacity: 0.75;
    line-height: 2.5em;
    text-align: center;
}

@media screen and (max-width: 770px) {
    #content.markdown-body {
        margin: 0;
        border-radius: 0;
        max-width: unset;
    }

    .post-list>li {
        border-radius: 0;
        max-width: unset;
    }
}

/* Developing */
