body {
  grid-template-columns: auto 1fr;
  max-width: 900px;
  max-height: 600px;
}

#console-panel,
#output-panel {
  justify-content: space-between;
}

#console-panel .mdc-card__action-buttons,
#output-panel .mdc-card__action-buttons {
  margin-top: 20px;
}

#console-panel #generate-config {
  display: grid;
  gap: 20px;
}

#numbers-list {
  overflow: auto;
  scroll-behavior: smooth;
}

#numbers-list tbody tr:first-child {
  display: none;
}

@media screen and (max-width: 550px) {
  body {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    max-width: unset;
    max-height: unset;
  }
}
