body {
  max-width: 350px;
  height: auto;
}

#main-panel {
  display: grid;
  gap: 20px;
}

#input-file {
  display: none;
}

#output-box {
  padding-right: 5em;
}

#copy-btn {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
  font-size: 12px;
}
