*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
}

body {
  --one-day: 0.02s;
  width: 1280px;
  min-width: 100vmax;
  height: 1280px;
  min-height: 100vmax;
  background: #000;
  transition: 0.3s;
  user-select: none;
}

body.hidden {
  opacity: 0;
}

@keyframes revolution {
  to {
    transform: rotate(-360deg);
  }
}

.solar-system {
  width: 100%;
  height: 100%;
  transform: rotate(0);
}

.solar-system div,
.solar-system div:not(#sun)::before {
  /* --diameter: 40px; */
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  margin-top: calc(var(--diameter) / -2);
  margin-left: calc(var(--diameter) / -2);
  border-radius: 50%;
}

.solar-system div {
  /* --revolution-cycle: 10; */
  top: 50%;
  left: 50%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  animation: revolution calc(var(--one-day) * var(--revolution-cycle)) linear
    infinite;
}

.solar-system div:not(#sun)::before {
  left: 50%;
  content: "";
}

#sun {
  --diameter: 36px;

  background: rgb(251, 185, 0);
  box-shadow: 0 0 20px 5px rgba(255, 200, 0, 0.4);
}

#mercury {
  --diameter: 70px;
  --revolution-cycle: 87.5;
}

#mercury::before {
  --diameter: 4px;
  background: rgb(158, 158, 158);
}

#venus {
  --diameter: 100px;
  --revolution-cycle: 224.7;
}

#venus::before {
  --diameter: 8px;
  background: rgb(202, 194, 104);
}

#earth {
  --diameter: 145px;
  --revolution-cycle: 365.2563;
}

#earth::before {
  --diameter: 6px;
  background: rgb(17, 171, 233);
}

#earth > #moon {
  --diameter: 14px;
  --revolution-cycle: 27.3216;
  top: 0;
  left: 50%;
}

#earth > #moon::before {
  --diameter: 2px;
  background: rgb(158, 158, 158);
}

#mars {
  --diameter: 190px;
  --revolution-cycle: 687;
}

#mars::before {
  --diameter: 6px;
  background: rgb(207, 57, 33);
}

#asteroids-belt {
  --diameter: 300px;
  --revolution-cycle: 179;
  overflow: hidden;
  border: 0 !important;
  opacity: 0.7;
}

#asteroids-belt::before {
  --diameter: 210px;
  top: 50%;
  box-shadow: 48px 117px 0 -104px rgba(255, 255, 255, 0.94),
    80px 70px 0 -104px rgba(255, 255, 255, 0.78),
    -2px -119px 0 -104px rgba(255, 255, 255, 0.754),
    -50px 102px 0 -104px rgba(255, 255, 255, 0.199),
    -40px 74px 0 -104px rgba(255, 255, 255, 0.953),
    145px 12px 0 -104px rgba(255, 255, 255, 0.566),
    43px -64px 0 -104px rgba(255, 255, 255, 0.386),
    34px 38px 0 -104px rgba(255, 255, 255, 0.368),
    13px -124px 0 -104px rgba(255, 255, 255, 0.783),
    -31px 114px 0 -104px rgba(255, 255, 255, 0.386),
    114px -76px 0 -104px rgba(255, 255, 255, 0.086),
    59px 76px 0 -104px rgba(255, 255, 255, 0.358),
    -52px 136px 0 -104px rgba(255, 255, 255, 0.767),
    -78px -82px 0 -104px rgba(255, 255, 255, 0.014),
    50px -36px 0 -104px rgba(255, 255, 255, 0.132),
    -54px -106px 0 -104px rgba(255, 255, 255, 0.308),
    -76px -109px 0 -104px rgba(255, 255, 255, 0.525),
    -120px 42px 0 -104px rgba(255, 255, 255, 0.405),
    109px 66px 0 -104px rgba(255, 255, 255, 0.58),
    -108px -34px 0 -104px rgba(255, 255, 255, 0.772),
    56px 142px 0 -104px rgba(255, 255, 255, 0.756),
    119px 90px 0 -104px rgba(255, 255, 255, 0.505),
    134px -71px 0 -104px rgba(255, 255, 255, 0.793),
    111px 18px 0 -104px rgba(255, 255, 255, 0.092),
    -2px 94px 0 -104px rgba(255, 255, 255, 0.251),
    37px 37px 0 -104px rgba(255, 255, 255, 0.794),
    -2px 65px 0 -104px rgba(255, 255, 255, 0.283),
    94px 109px 0 -104px rgba(255, 255, 255, 0.189),
    39px 26px 0 -104px rgba(255, 255, 255, 0.599),
    -118px 118px 0 -104px rgba(255, 255, 255, 0.271),
    -116px 120px 0 -104px rgba(255, 255, 255, 0.189),
    119px -49px 0 -104px rgba(255, 255, 255, 0.044),
    139px -105px 0 -104px rgba(255, 255, 255, 0.824),
    -133px -77px 0 -104px rgba(255, 255, 255, 0.497),
    30px -109px 0 -104px rgba(255, 255, 255, 0.492),
    -105px 11px 0 -104px rgba(255, 255, 255, 0.496),
    -28px -79px 0 -104px rgba(255, 255, 255, 0.293),
    124px 125px 0 -104px rgba(255, 255, 255, 0.782),
    -72px -50px 0 -104px rgba(255, 255, 255, 0.062),
    58px 140px 0 -104px rgba(255, 255, 255, 0.44),
    -45px 67px 0 -104px rgba(255, 255, 255, 0.875),
    61px -99px 0 -104px rgba(255, 255, 255, 0.905),
    -128px 93px 0 -104px rgba(255, 255, 255, 0.535),
    -13px 135px 0 -104px rgba(255, 255, 255, 0.323),
    -61px -72px 0 -104px rgba(255, 255, 255, 0.101),
    110px -117px 0 -104px rgba(255, 255, 255, 0.882),
    -128px 42px 0 -104px rgba(255, 255, 255, 0.888),
    -134px 76px 0 -104px rgba(255, 255, 255, 0.389),
    20px -107px 0 -104px rgba(255, 255, 255, 0.374),
    -89px -20px 0 -104px rgba(255, 255, 255, 0.937),
    -36px 64px 0 -104px rgba(255, 255, 255, 0.246),
    -30px -37px 0 -104px rgba(255, 255, 255, 0.959),
    70px 56px 0 -104px rgba(255, 255, 255, 0.583),
    -63px -110px 0 -104px rgba(255, 255, 255, 0.875),
    -76px -66px 0 -104px rgba(255, 255, 255, 0.316),
    -87px -37px 0 -104px rgba(255, 255, 255, 0.783),
    112px 12px 0 -104px rgba(255, 255, 255, 0.838),
    -6px 80px 0 -104px rgba(255, 255, 255, 0.292),
    52px 122px 0 -104px rgba(255, 255, 255, 0.847),
    101px 73px 0 -104px rgba(255, 255, 255, 0.9),
    -83px 111px 0 -104px rgba(255, 255, 255, 0.387),
    -53px 33px 0 -104px rgba(255, 255, 255, 0.47),
    56px 100px 0 -104px rgba(255, 255, 255, 0.178),
    -12px 64px 0 -104px rgba(255, 255, 255, 0.206),
    -74px 108px 0 -104px rgba(255, 255, 255, 0.342),
    13px 45px 0 -104px rgba(255, 255, 255, 0.5),
    87px -27px 0 -104px rgba(255, 255, 255, 0.861),
    52px -25px 0 -104px rgba(255, 255, 255, 0.716),
    -43px -106px 0 -104px rgba(255, 255, 255, 0.437),
    -123px 34px 0 -104px rgba(255, 255, 255, 0.502),
    91px -41px 0 -104px rgba(255, 255, 255, 0.443),
    -41px -91px 0 -104px rgba(255, 255, 255, 0.385),
    -95px 114px 0 -104px rgba(255, 255, 255, 0.701),
    24px 123px 0 -104px rgba(255, 255, 255, 0.38),
    75px 21px 0 -104px rgba(255, 255, 255, 0.859),
    102px 68px 0 -104px rgba(255, 255, 255, 0.141),
    -124px -52px 0 -104px rgba(255, 255, 255, 0.615),
    45px 139px 0 -104px rgba(255, 255, 255, 0.123),
    78px -72px 0 -104px rgba(255, 255, 255, 0.815),
    -28px -138px 0 -104px rgba(255, 255, 255, 0.847),
    -104px 14px 0 -104px rgba(255, 255, 255, 0.955),
    -7px -22px 0 -104px rgba(255, 255, 255, 0.786),
    -135px 0 0 -104px rgba(255, 255, 255, 0.443),
    143px 130px 0 -104px rgba(255, 255, 255, 0.681),
    134px 136px 0 -104px rgba(255, 255, 255, 0.614),
    -89px -136px 0 -104px rgba(255, 255, 255, 0.691),
    91px -137px 0 -104px rgba(255, 255, 255, 0.38),
    -37px 141px 0 -104px rgba(255, 255, 255, 0.026),
    7px -138px 0 -104px rgba(255, 255, 255, 0.752),
    -95px 73px 0 -104px rgba(255, 255, 255, 0.834),
    -141px -105px 0 -104px rgba(255, 255, 255, 0.485),
    -26px -23px 0 -104px rgba(255, 255, 255, 0.886),
    -79px -52px 0 -104px rgba(255, 255, 255, 0.619),
    -117px -73px 0 -104px rgba(255, 255, 255, 0.362),
    66px -128px 0 -104px rgba(255, 255, 255, 0.446),
    -34px -7px 0 -104px rgba(255, 255, 255, 0.491),
    -38px -128px 0 -104px rgba(255, 255, 255, 0.93),
    68px 56px 0 -104px rgba(255, 255, 255, 0.145),
    -45px -23px 0 -104px rgba(255, 255, 255, 0.923),
    -84px -121px 0 -104px rgba(255, 255, 255, 0.101),
    118px -121px 0 -104px rgba(255, 255, 255, 0.916),
    92px 31px 0 -104px rgba(255, 255, 255, 0.051),
    61px -113px 0 -104px rgba(255, 255, 255, 0.605),
    97px -20px 0 -104px rgba(255, 255, 255, 0.096),
    138px 10px 0 -104px rgba(255, 255, 255, 0.736),
    88px -105px 0 -104px rgba(255, 255, 255, 0.619),
    51px -38px 0 -104px rgba(255, 255, 255, 0.173),
    -47px -30px 0 -104px rgba(255, 255, 255, 0.188),
    134px 39px 0 -104px rgba(255, 255, 255, 0.981),
    40px 104px 0 -104px rgba(255, 255, 255, 0.792),
    -143px -130px 0 -104px rgba(255, 255, 255, 0.304),
    -81px 105px 0 -104px rgba(255, 255, 255, 0.029),
    47px -67px 0 -104px rgba(255, 255, 255, 0.429),
    -33px 121px 0 -104px rgba(255, 255, 255, 0.563),
    -15px 28px 0 -104px rgba(255, 255, 255, 0.258),
    10px 129px 0 -104px rgba(255, 255, 255, 0.548),
    130px 47px 0 -104px rgba(255, 255, 255, 0.069),
    -59px -137px 0 -104px rgba(255, 255, 255, 0.382),
    4px 98px 0 -104px rgba(255, 255, 255, 0.108),
    -113px -33px 0 -104px rgba(255, 255, 255, 0.117),
    -96px -37px 0 -104px rgba(255, 255, 255, 0.402),
    80px -22px 0 -104px rgba(255, 255, 255, 0.21),
    132px -7px 0 -104px rgba(255, 255, 255, 0.683),
    136px -143px 0 -104px rgba(255, 255, 255, 0.442),
    116px -69px 0 -104px rgba(255, 255, 255, 0.798),
    -54px -83px 0 -104px rgba(255, 255, 255, 0.034),
    96px 43px 0 -104px rgba(255, 255, 255, 0.406),
    19px -33px 0 -104px rgba(255, 255, 255, 0.036),
    -61px 130px 0 -104px rgba(255, 255, 255, 0.938),
    92px -106px 0 -104px rgba(255, 255, 255, 0.144),
    37px 91px 0 -104px rgba(255, 255, 255, 0.562),
    30px -100px 0 -104px rgba(255, 255, 255, 0.361),
    46px 78px 0 -104px rgba(255, 255, 255, 0.423),
    -4px -99px 0 -104px rgba(255, 255, 255, 0.174),
    138px 49px 0 -104px rgba(255, 255, 255, 0.814),
    75px -112px 0 -104px rgba(255, 255, 255, 0.523),
    -87px 102px 0 -104px rgba(255, 255, 255, 0.64),
    -68px -95px 0 -104px rgba(255, 255, 255, 0.068),
    -90px -132px 0 -104px rgba(255, 255, 255, 0.92),
    1px -14px 0 -104px rgba(255, 255, 255, 0.66),
    36px 41px 0 -104px rgba(255, 255, 255, 0.348),
    -98px 81px 0 -104px rgba(255, 255, 255, 0.124),
    -13px -121px 0 -104px rgba(255, 255, 255, 0.779),
    -26px -130px 0 -104px rgba(255, 255, 255, 0.564),
    23px -11px 0 -104px rgba(255, 255, 255, 0.699),
    23px 86px 0 -104px rgba(255, 255, 255, 0.425),
    -121px 101px 0 -104px rgba(255, 255, 255, 0.181),
    -91px 58px 0 -104px rgba(255, 255, 255, 0.741),
    3px -118px 0 -104px rgba(255, 255, 255, 0.304),
    -82px -11px 0 -104px rgba(255, 255, 255, 0.325),
    136px 29px 0 -104px rgba(255, 255, 255, 0.177),
    134px 45px 0 -104px rgba(255, 255, 255, 0.287),
    116px -33px 0 -104px rgba(255, 255, 255, 0.851),
    -124px -42px 0 -104px rgba(255, 255, 255, 0.464),
    127px 109px 0 -104px rgba(255, 255, 255, 0.98),
    89px 129px 0 -104px rgba(255, 255, 255, 0.674),
    -70px -86px 0 -104px rgba(255, 255, 255, 0.25),
    -133px 127px 0 -104px rgba(255, 255, 255, 0.239),
    125px -6px 0 -104px rgba(255, 255, 255, 0.533),
    -58px 132px 0 -104px rgba(255, 255, 255, 0.687),
    76px -49px 0 -104px rgba(255, 255, 255, 0.796),
    -117px 49px 0 -104px rgba(255, 255, 255, 0.278),
    11px 28px 0 -104px rgba(255, 255, 255, 0.4),
    -92px 27px 0 -104px rgba(255, 255, 255, 0.597),
    34px -44px 0 -104px rgba(255, 255, 255, 0.056),
    90px 127px 0 -104px rgba(255, 255, 255, 0.592),
    110px 13px 0 -104px rgba(255, 255, 255, 0.071),
    84px -43px 0 -104px rgba(255, 255, 255, 0.723),
    3px -57px 0 -104px rgba(255, 255, 255, 0.061),
    37px -72px 0 -104px rgba(255, 255, 255, 0.154),
    -92px -11px 0 -104px rgba(255, 255, 255, 0.749),
    15px -13px 0 -104px rgba(255, 255, 255, 0.896),
    115px -18px 0 -104px rgba(255, 255, 255, 0.783),
    -85px -98px 0 -104px rgba(255, 255, 255, 0.529),
    -46px -90px 0 -104px rgba(255, 255, 255, 0.711),
    -17px -94px 0 -104px rgba(255, 255, 255, 0.635),
    -8px 74px 0 -104px rgba(255, 255, 255, 0.856),
    -57px -87px 0 -104px rgba(255, 255, 255, 0.616),
    98px 70px 0 -104px rgba(255, 255, 255, 0.621),
    13px 32px 0 -104px rgba(255, 255, 255, 0.541),
    63px -97px 0 -104px rgba(255, 255, 255, 0.253),
    -120px -131px 0 -104px rgba(255, 255, 255, 0.417),
    -42px -47px 0 -104px rgba(255, 255, 255, 0.259),
    37px 67px 0 -104px rgba(255, 255, 255, 0.354),
    58px -5px 0 -104px rgba(255, 255, 255, 0.737),
    128px -69px 0 -104px rgba(255, 255, 255, 0.95),
    23px 141px 0 -104px rgba(255, 255, 255, 0.62),
    135px 17px 0 -104px rgba(255, 255, 255, 0.215),
    -80px 145px 0 -104px rgba(255, 255, 255, 0.629),
    73px 59px 0 -104px rgba(255, 255, 255, 0.351),
    24px 8px 0 -104px rgba(255, 255, 255, 0.649),
    81px 82px 0 -104px rgba(255, 255, 255, 0.823),
    -14px 102px 0 -104px rgba(255, 255, 255, 0.661),
    14px 7px 0 -104px rgba(255, 255, 255, 0.586),
    -36px 15px 0 -104px rgba(255, 255, 255, 0.381),
    90px 138px 0 -104px rgba(255, 255, 255, 0.15),
    -133px 80px 0 -104px rgba(255, 255, 255, 0.81),
    -15px 39px 0 -104px rgba(255, 255, 255, 0.317),
    88px 57px 0 -104px rgba(255, 255, 255, 0.936),
    -129px 56px 0 -104px rgba(255, 255, 255, 0.312),
    -77px 74px 0 -104px rgba(255, 255, 255, 0.848),
    130px 62px 0 -104px rgba(255, 255, 255, 0.867),
    -76px 70px 0 -104px rgba(255, 255, 255, 0.679),
    -53px -82px 0 -104px rgba(255, 255, 255, 0.477),
    85px 96px 0 -104px rgba(255, 255, 255, 0.512);
}

#jupiter {
  --diameter: 340px;
  --revolution-cycle: 4331;
}

#jupiter::before {
  --diameter: 18px;

  background: rgb(199, 110, 42);
}

#saturn {
  --diameter: 440px;
  --revolution-cycle: 10747;
}

#saturn::before {
  --diameter: 12px;

  background: rgb(231, 193, 148);
}

#saturn::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 4.8%;
  height: 1.8%;
  margin-top: -0.8%;
  margin-left: -2.5%;
  border-radius: 50%;
  box-shadow: 0 1px 0 1px rgba(152, 118, 65, 0.75),
    3px 1px 0 rgba(152, 118, 65, 0.75), -3px 1px 0 rgba(152, 118, 65, 0.75);
  transform: rotate(-130deg);
  content: "";
}

#uranus {
  --diameter: 520px;
  --revolution-cycle: 30589;
}

#uranus::before {
  --diameter: 10px;

  background: rgb(101, 221, 221);
}

#neptune {
  --diameter: 630px;
  --revolution-cycle: 59802;
}

#neptune::before {
  --diameter: 10px;

  background: rgb(23, 94, 158);
}

#pluto {
  --diameter: 780px;
  --revolution-cycle: 90580;
}

#pluto::before {
  --diameter: 2px;

  background: rgb(171, 122, 104);
}
