*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(248, 249, 250);
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(250px, 3fr) 7fr;
  gap: 15px;
  width: 100vw;
  max-width: 900px;
  height: 100vh;
  max-height: 600px;
  padding: 15px;
}

#console {
  display: grid;
  grid-template-rows: 50px 40px auto auto;
  grid-template-columns: auto;
  gap: 15px;
  align-content: start;
}

#console > label {
  height: 50px;
  font-size: 16px;
  line-height: 50px;
}

#console > select {
  padding: 0 5px;
}

#input-file {
  display: none;
}

#viewer {
  display: grid;
  align-items: center;
  justify-items: center;
}

#viewer > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
}

.buttons-bar {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media screen and (max-width: 550px) {
  body {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    max-width: unset;
    max-height: unset;
  }
}
