*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Microsoft YaHei, Arial, sans-serif;
  background: rgba(248, 249, 250, 0.9);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

body::before,
body::after {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  content: "";
}

body.loading::before,
body.loading::after {
  visibility: visible;
  opacity: 1;
}

body::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(248, 249, 250, 0.9);
}

body.loading::after {
  top: 50%;
  left: 50%;
  margin: -20px;
  padding: 17px;
  border: 3px solid #3f51b5;
  border-top-color: rgba(250, 251, 252, 0.9);
  border-radius: 50%;
  transform: rotate(3600deg);
  transition: opacity 0.3s 0.1s, transform 6s linear;
}

@keyframes fadein {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
}

body.loaded > main > *,
body.loaded > footer {
  -webkit-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

[data-sl] {
  color: #3f51b5;
  text-decoration: none;
}

main {
  width: 700px;
  min-height: 100vh;
  margin: 50px auto 0;
  padding: 5px 0 25px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    padding: 0;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #3f51b5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

header:not(.in) {
  transform: translateY(-55px);
}

header > * {
  float: left;
  width: 50px;
  height: 50px;
  padding: 11px;
  cursor: pointer;
  fill: #fff;
}

header > :last-child {
  float: right;
}

header img {
  width: 28px;
  height: 28px;
  margin-left: -11px;
  border: 2px solid #fff;
  border-radius: 50%;
}

#sidebar-switch {
  display: none;
}

#sidebar-switch + * {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  visibility: hidden;
  transition: 0.3s;
}

#sidebar-switch:checked + * {
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

#sidebar-switch + * nav {
  width: 70%;
  max-width: 230px;
  height: 100vh;
  padding-top: 50px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

#sidebar-switch:not(:checked) + * nav {
  transform: translateX(-120%);
}

#sidebar-switch + * a {
  display: block;
  padding-left: 15%;
  color: #333;
  line-height: 50px;
}

footer,
footer * {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  background: #3f51b5;
}

main > * {
  margin-top: 20px;
  padding: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

@media screen and (max-width: 768px) {
  main > * {
    margin-top: 1px;
    border-radius: 0;
    box-shadow: 0 0 0 1px #ddd;
  }
}

.chip {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 6px;
  font-size: 0.8rem;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.pagination {
  padding: 0;
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 12px 22px;
  color: rgba(63, 81, 181, 0.7);
  font-weight: 900;
  font-size: 0.8rem;
}

.post-intro > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-intro h3 {
  margin: -3px 0;
  font-weight: normal;
}

.post-intro p {
  margin-top: 13px;
}

.posts-group h1,
.chips-group h1 {
  display: inline-block;
  margin: 0 100% 5px 0;
  padding: 3px 9px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  background: #3f51b5;
  border-radius: 4px;
}

.posts-group a {
  display: block;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chips-group a {
  margin-top: 10px;
  padding: 5px 10px;
}

article > h1:first-child {
  font-weight: normal;
  font-size: 24px;
}

article img:not(.no-border) {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
