*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-sl] {
  color: var(--theme-color);
  text-decoration: none;
}

html {
  --theme-color: rgb(63, 81, 181);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  background: rgb(248, 249, 250);
}

main {
  width: 700px;
  min-height: 100vh;
  margin: 50px auto 0;
  padding: 25px 0;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    padding: 0;
  }
}

@keyframes fadein {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
}

main.spa > * {
  animation: fadein 0.3s;
}

progress {
  position: fixed;
  height: 0;
  transition: 0.3s;
}

progress:not(.in) {
  visibility: hidden;
  opacity: 0;
}

progress::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background: rgba(248, 249, 250, 0.5);
  content: "";
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

progress.in::after {
  position: fixed;
  top: calc(15% + 50px);
  left: calc(50% - 30px);
  display: inline-block;
  padding: 25px;
  border: 5px solid var(--theme-color);
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
  content: "";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--theme-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

header:not(.in) {
  transform: translateY(-55px);
}

header i {
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  fill: #fff;
}

header #gotop-btn {
  float: right;
}

header .avatar a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 -10px;
  background: url("/favicon.svg");
  border: 2px solid #fff;
  border-radius: 50%;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  transition: 0.3s;
}

aside.in {
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

aside .menu {
  position: relative;
  width: 70%;
  max-width: 260px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

aside:not(.in) .menu {
  transform: translateX(calc(-100% - 20px));
}

aside .brand {
  padding: 13% 13% 9%;
  background: var(--theme-color);
}

aside #show-palette-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  opacity: 0.7;
  fill: #fff;
}

aside .name {
  width: 45%;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

aside .avatar {
  display: block;
  margin-bottom: 13px;
  padding: calc(50% - 2px);
  background: url("/favicon.svg");
  border: 2px solid;
  border-radius: 50%;
}

aside .menu nav a {
  display: block;
  padding-left: 13%;
  color: #333;
  line-height: 50px;
}

aside nav svg {
  width: 24px;
  margin: 13px 9px 0 0;
  vertical-align: top;
  fill: #555;
}

aside .mask {
  flex-grow: 1;
}

footer,
footer * {
  position: relative; /* Override the last card's box-shadow */
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  background: var(--theme-color);
}

.card {
  padding: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

@media screen and (max-width: 768px) {
  .card {
    border-radius: 0;
    box-shadow: 0 0 0 1px #ddd;
  }
}

.chip {
  display: inline-block;
  margin-right: 10px;
  padding: 2px 6px;
  font-size: 13px;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.pagination {
  text-align: center;
}

.pagination a {
  display: inline-block;
  padding: 12px 22px;
  font-weight: 900;
  font-size: 13px;
  opacity: 0.7;
}

.post-intro {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .post-intro {
    margin-bottom: 1px;
  }
}

.post-intro > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-intro h3 {
  margin: -3px 0;
  font-weight: normal;
  font-size: 20px;
}

.post-intro p {
  margin-top: 13px;
}

.posts-group h1,
.chips-group h1 {
  display: inline-block;
  margin: 0 100% 5px 0;
  padding: 3px 9px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  background: var(--theme-color);
  border-radius: 4px;
}

.posts-group a {
  display: block;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chips-group a {
  margin-top: 10px;
  padding: 5px 10px;
}

article > h1:first-child {
  font-weight: normal;
  font-size: 24px;
}

article img:not(.no-border) {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
