*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  background: rgb(248, 249, 250);
}

a {
  color: #3f51b5;
  text-decoration: none;
}

main {
  width: 700px;
  min-height: 100vh;
  padding: 5px 0 25px;
  margin: 50px auto 0;
}

@media screen and (max-width: 750px) {
  main {
    width: 100%;
    padding: 0;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #3f51b5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

header.hidden {
  transform: translateY(-55px);
}

header > * {
  float: left;
  height: 50px;
  padding: 11px;
  cursor: pointer;
  fill: #fff;
}

header > :last-child {
  float: right;
}

header img {
  width: 28px;
  height: 28px;
  margin: 0 -10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

aside.hidden {
  visibility: hidden;
  background: rgba(0, 0, 0, 0);
}

aside > * {
  position: fixed;
  width: 70%;
  max-width: 230px;
  height: 100vh;
  padding-top: 50px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

aside.hidden > * {
  transform: translateX(-120%);
}

aside a {
  display: block;
  padding-left: 15%;
  line-height: 50px;
  color: #333;
}

footer,
footer a {
  font-size: 13px;
  line-height: 40px;
  color: #ddd;
  text-align: center;
  text-decoration: none;
  background: #3f51b5;
}

main > * {
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 750px) {
  main > * {
    margin-top: 1px;
    box-shadow: 0 1px #ddd;
  }
}

section > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section h3 {
  margin: -4px 0;
  font-weight: normal;
}

section p {
  margin-top: 12px;
}

section h1 {
  display: table;
  padding: 3px 9px;
  margin: 0 0 6px;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  background: #3f51b5;
}

section p a,
section span {
  display: inline-block;
  padding: 0 6px;
  margin-right: 9px;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #ccc;
}

section > a {
  display: block;
  margin-top: 10px;
}

section > span {
  padding: 0;
  margin-top: 6px;
  line-height: 22px;
}

section > span a {
  padding: 6px;
}

nav {
  padding: 0;
  text-align: center;
}

nav a {
  display: inline-block;
  padding: 12px 5%;
  font-size: 14px;
}

aside::before {
  position: fixed;
  content: "";
  opacity: 0;
}

.loading aside::before {
  top: 50%;
  left: 50%;
  padding: 17px;
  margin: -20px;
  visibility: visible;
  border: 3px solid #3f51b5;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s 0.1s, transform 6s linear;
  transform: rotate(3600deg);
}

.loading main,
.loading footer {
  filter: opacity(0.2); /* Force Hardware Acceleration */
  transition: 0.2s;
}

@keyframes loaded {
  0% {
    filter: opacity(0.2);
    transform: translateY(10px);
  }
}

.loaded main,
.loaded footer {
  animation: 0.2s loaded;
}
