* {
  max-height: 100%; /* Disable Font Boosting */
  margin: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.8;
  overflow-wrap: break-word;
  background: #f8f9fa;
  -webkit-tap-highlight-color: #0000;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

main {
  width: 100%;
  min-height: 100vh;
  margin: 50px 0 0;
}

main > * {
  padding: 20px;
  margin-top: 1px;
  background: #fff;
  box-shadow: 0 1px #ddd;
}

@media (min-width: 750px) {
  main {
    width: 700px;
    margin: 75px auto 25px;
  }

  main > * {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px #aaa;
  }
}

main h1 {
  padding-bottom: 7px;
  margin: -9px 0 13px;
  font-weight: 400;
  box-shadow: 0 1px #ddd;
}

section > * {
  margin-top: 3px; /* For section > p */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section h3 {
  margin: -8px 0 5px;
  font-weight: 400;
}

section div {
  margin: 9px 0 -2px;
}

section div a,
section > a,
section span {
  padding: 2px 7px;
  margin: 5px 5px -4px 0;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

section > a {
  display: inline-block;
}

nav {
  padding: 0;
  font-size: 14px;
  line-height: 3;
  text-align: center;
}

nav a {
  padding: 1em 6%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #3f51b5;
  box-shadow: 0 0 5px #aaa;
  transition: 0.2s;
}

header.hidden {
  transform: translateY(-55px);
}

header > * {
  float: left;
  height: 28px;
  padding: 11px;
  fill: #fff;
}

header a + * {
  float: right;
}

header img {
  width: 24px;
  margin-left: -10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

footer,
footer a {
  font-size: 13px;
  line-height: 3;
  color: #ddd;
  text-align: center;
  background: #3f51b5;
}

aside {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0008;
  transition: 0.3s;
}

aside.hidden {
  visibility: hidden;
  background: #0000;
}

aside div {
  width: 70%;
  max-width: 230px;
  height: 100%;
  padding-top: 50px;
  overflow: auto;
  background: #fff;
  transition: 0.3s;
}

aside.hidden div {
  transform: translateX(-100%);
}

aside a {
  display: block;
  padding-left: 15%;
  line-height: 4;
  color: #333;
}

spin-circle {
  position: fixed;
  opacity: 0;
}

.loading spin-circle {
  top: 50%;
  left: 50%;
  padding: 17px;
  margin: -20px;
  border: 3px solid #3f51b5;
  border-top-color: #0000;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s 0.1s, transform 5s linear;
  transform: rotate(3600deg);
}

.loading main,
.loading footer {
  filter: opacity(0.2); /* Force GPU render */
  transition: 0.3s;
}

@keyframes loaded {
  0% {
    filter: opacity(0.1);
    transform: translateY(9px);
  }
}

.loaded main,
.loaded footer {
  transition: none; /* Avoid flicker */
  animation: 0.2s ease-out loaded;
}
