* /* , *::before, *::after */ {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.8;
  background: #f8f9fa;
}

a {
  color: #3f51b5;
  text-decoration: none;
}

main {
  width: 700px;
  min-height: 100vh;
  padding: 5px 0 25px;
  margin: 50px auto 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #3f51b5;
  box-shadow: 0 0 5px #0000004d;
  transition: 0.2s;
}

header.hidden {
  transform: translateY(-55px);
}

header > * {
  float: left;
  height: 50px;
  padding: 11px;
  cursor: pointer;
  fill: #fff;
}

header a ~ * {
  float: right;
}

header img {
  width: 28px;
  margin: 0 -10px;
  border: 2px solid #fff;
  border-radius: 50%;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #00000080;
  transition: 0.3s;
}

aside.hidden {
  visibility: hidden;
  background: #00000000;
}

aside div {
  width: 70%;
  max-width: 230px;
  height: 100%;
  padding-top: 50px;
  overflow: auto;
  background: #fff;
  box-shadow: 0 0 20px #0000004d;
  transition: 0.3s;
}

aside.hidden div {
  transform: translateX(-120%);
}

aside a {
  display: block;
  padding-left: 15%;
  line-height: 4;
  color: #333;
}

footer,
footer a {
  font-size: 13px;
  line-height: 3;
  color: #ccc;
  text-align: center;
  background: #3f51b5;
}

main > * {
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 1px 4px #0000004d;
}

section > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section h3 {
  margin: -8px 0 5px;
  font-weight: normal;
}

section h1 {
  margin: -9px 0 11px;
  font-weight: normal;
  color: #3f51b5;
  border-bottom: 1px solid #ddd;
}

section div {
  margin: 10px 0 -2px;
}

section div a,
section > a,
section span {
  padding: 2px 7px;
  margin: 5px 9px -4px 0;
  font-size: 13px;
  border: 1px solid #ccc;
}

section > a {
  display: inline-block;
}

section p {
  margin-top: 3px;
}

nav {
  padding: 0;
  font-size: 14px;
  line-height: 3;
  text-align: center;
}

nav a {
  padding: 1em 5%;
}

@media screen and (max-width: 750px) {
  main {
    width: 100%;
    padding: 0;
  }

  main > * {
    margin-top: 1px;
    box-shadow: 0 1px #ddd;
  }
}

spin-circle {
  opacity: 0;
}

.loading spin-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 17px;
  margin: -20px;
  border: 3px solid #3f51b5;
  border-top-color: #00000000;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s 0.1s, transform 6s linear;
  transform: rotate(3600deg);
}

.loading main,
.loading footer {
  filter: opacity(0.2); /* Force GPU render */
  transition: 0.3s;
}

@keyframes loaded {
  0% {
    filter: opacity(0.1);
    transform: translateY(9px);
  }
}

.loaded main,
.loaded footer {
  transition: none; /* Avoid flicker */
  animation: 0.2s ease-out loaded;
}
