/* *, *::before, *::after { box-sizing: border-box; padding: 0; margin: 0; } */

article {
  line-height: 1.8;
  word-break: break-word;
}

article h1,
article h3,
article h4 {
  margin: 11px 0 7px;
  font-weight: normal;
}

article h1 {
  margin: -9px 0 13px;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
}

article h3 {
  font-size: 20px;
}

article h4 {
  font-size: 17px;
}

article p,
article pre,
article table,
article details {
  margin: 7px 0;
}

article a {
  color: #0366d6;
}

article details summary {
  padding: 0 5px;
}

article blockquote {
  padding: 0 15px;
  border-left: 3px solid #ddd;
}

article pre {
  padding: 16px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.3;
  background: #f4f4f4;
}

article :not(pre) > code,
article kbd {
  padding: 2px 5px;
  margin: 0 2px;
  font-size: 14px;
  background: #f4f4f4;
}

article ol,
article ul {
  margin-left: 24px;
}

article table {
  overflow: auto;
  border-collapse: collapse;
}

article table td,
article table th {
  padding: 5px 13px;
  border: 1px solid #ddd;
}

article table th {
  font-weight: normal;
}

article table tr:nth-child(2n) {
  background: #f7f7f7;
}

article img {
  max-width: 100%;
}

article img:not(.no-border) {
  filter: drop-shadow(0 0 3px #ccc); /* For irregular pictures */
}
