article > *,
article details > *,
article p {
  margin-top: 9px;
}

article h2,
article h3 {
  margin-top: 13px;
  font-weight: 400;
}

article h2 {
  font-size: 21px;
}

article a {
  color: #0366d6;
}

article summary {
  padding-left: 3px;
}

article blockquote {
  padding-left: 13px;
  border-left: 3px solid #ddd;
}

article code {
  padding: 2px 5px;
  font-size: 14px;
  background: #f4f4f4;
  border-radius: 4px;
}

article pre code {
  display: block;
  padding: 16px;
  overflow: auto;
  line-height: 1.3;
}

article ol,
article ul {
  padding-left: 22px;
}

article table {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

article tr:nth-child(2n) {
  background: #f8f9fa;
}

article tr > * {
  padding: 5px 13px;
  font-weight: 400;
  border: 1px solid #ddd;
}

article img {
  max-width: 100%;
  height: auto; /* Override the HTML height attr (about aspect-ratio) */
}

article img:not(.no-border) {
  filter: drop-shadow(0 0 2px #ccc); /* Fit irregular images */
  border-radius: 4px;
}
