*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-sl] {
  cursor: pointer;
}

body {
  --theme-color: rgb(63, 81, 181);
  --card-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: rgb(248, 249, 250);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

main {
  width: 700px;
  min-height: 100vh;
  margin: 50px auto 0;
  padding: 20px 0;
}

@media screen and (max-width: 770px) {
  main {
    width: 100%;
    padding: 0;
  }
}

#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition: 0.5s;
  text-align: center;
  opacity: 0;
  background: #fff;
}

#loading.in {
  visibility: visible;
  transition: 0.3s;
  opacity: 0.7;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loading.in::after {
  display: inline-block;
  min-width: 60px;
  min-height: 60px;
  margin-top: 120px;
  padding: 5vmin;
  content: "";
  animation: spin 0.5s linear infinite;
  border: 5px solid var(--theme-color);
  border-top-color: #fff;
  border-radius: 50%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  transition: 0.3s;
  background: var(--theme-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header:not(.in) {
  transform: translateY(-55px);
}

header i {
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  fill: #fff;
}

header #gotop-btn {
  float: right;
}

header .avatar {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background: url("/favicon.svg");
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  transition: 0.3s;
}

#sidebar.in {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
}

#sidebar .menu {
  position: relative;
  overflow: hidden auto;
  width: 70%;
  max-width: 260px;
  transition: 0.3s;
  background: #fff;
  box-shadow: 5px 0 9px rgba(0, 0, 0, 0.3);
}

#sidebar:not(.in) .menu {
  transform: translateX(calc(-100% - 14px));
}

#sidebar .brand {
  padding: 13% 13% 9%;
  background: var(--theme-color);
}

#sidebar #open-palette-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  transition: 0.7s 0.3s;
  opacity: 0;
  fill: #fff;
}

#sidebar.in #open-palette-btn {
  transform: rotate(360deg);
  opacity: 0.7;
}

#sidebar .name {
  width: 45%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

#sidebar .avatar {
  display: block;
  margin-bottom: 13px;
  padding: calc(50% - 2px);
  border: 2px solid;
  border-radius: 50%;
  background: url("/favicon.svg");
}

#sidebar li {
  padding-left: 13%;
  color: #333;
  line-height: 50px;
}

#sidebar li svg {
  width: 24px;
  margin: 13px 9px 0 0;
  vertical-align: top;
  fill: #555;
}

#sidebar .mask {
  flex-grow: 1;
}

footer,
footer * {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  background: var(--theme-color);
  font-size: 12px;
  line-height: 30px;
}

.post-list>li {
  display: block;
  margin-top: 20px;
  padding: 14px 17px 17px;
  background: #fff;
  box-shadow: var(--card-shadow);
}

@media screen and (max-width: 770px) {
  .post-list>li {
    margin-top: 0;
    border-top: 1px solid #ddd;
    box-shadow: none;
  }
}

.post-list>li:first-child {
  margin-top: 0;
  border-top: none;
}

.post-list h3 {
  color: var(--theme-color);
  font-size: 20px;
  font-weight: normal;
}

.post-list p {
  margin: 10px 0 7px;
}

.post-list.compact h2 {
  display: inline-block;
  padding: 2px 6px;
  color: #fff;
  background: var(--theme-color);
  font-size: 20px;
}

.post-list.compact h3 {
  margin: 8px 12px 0;
  font-size: 16px;
}

.post-footer li {
  display: inline-block;
  margin-top: 7px;
  margin-right: 6px;
  padding: 2px 5px;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  font-size: 12px;
}

.post-footer li:first-child {
  margin-right: 9px;
}

.post-date {
  margin-right: 6px;
  padding: 1px 5px;
  border: 1px solid var(--theme-color);
  font-size: 12px;
}

.page-number-nav {
  margin: 5px 0 -15px;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .page-number-nav {
    margin: 0 0 2px;
    border-top: 1px solid #ddd;
  }
}

.page-number-nav li {
  display: inline-block;
  padding: 9px 23px;
  opacity: 0.7;
  color: var(--theme-color);
  font-size: 14px;
  font-weight: 900;
}

article {
  padding: 20px;
  background: #fff;
  box-shadow: var(--card-shadow);
}

@media screen and (max-width: 770px) {
  article {
    box-shadow: none;
  }
}

article>h1:first-child {
  font-size: 24px;
  font-weight: normal;
}

article img:not(.no-border) {
  box-shadow: var(--card-shadow);
}
