*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgb(248, 249, 250);
}

body {
  display: grid;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.mdc-card {
  padding: 20px;
  overflow: hidden;
}

.mdc-card__action-buttons {
  justify-content: flex-end;
}
