.matter-card {
  position: relative;
  display: inline-block;
  padding: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

.matter-table {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.matter-table td,
.matter-table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.matter-table th {
  font-weight: 500;
}

.matter-table tr {
  background: #fff;
  border-top: 1px solid #c6cbd1;
}

.matter-table tr:nth-child(2n) {
  background: #f6f8fa;
}
