/* TMD - Tiny Material Design */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  display: none;
  flex-direction: column;
  gap: 20px;
  min-width: 320px;
  max-width: 680px;
  padding: 20px;
  padding-top: 60px;
  margin: 0 auto;
}

html::after {
  display: block;
  margin: 2em;
  font-size: 24px;
  color: #3f51b5;
  content: "Your browser is not supported.";
}

@supports (appearance: none) {
  body {
    display: flex;
  }

  html::after {
    content: none;
  }
}

html {
  background: #f8f9fa;
}

[_none] {
  display: none;
}

[_hide] {
  visibility: hidden;
}

[_film] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 56px;
  padding-left: 25px;
  font-size: 15px;
  line-height: 56px;
  color: #fff;
  background: #3367d6;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 6px -3px; */
}

figure {
  display: grid;
  gap: 15px;
  padding: 16px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

button {
  position: relative;
  display: inline-block;
  height: 32px;
  padding: 0 16px;
  font-size: 13px;
  line-height: 30px;
  color: #1a73e8;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
}

/* Drag and drop */
button * {
  cursor: pointer;
}

button:hover {
  background: #f7faff;
  border-color: #d2e3fc;
}

button:active {
  background: #e0ecfd;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 3px 6px 2px;
}

button[_action] {
  color: #fff;
  background: #1a73e8;
  border-color: #1a73e8;
}

button[_action]:hover {
  background: #3080ea;
  border-color: #3080ea;
  box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px,
    rgba(66, 133, 244, 0.15) 0px 1px 3px 1px;
}

button[_action]:active {
  background: #73a9f1;
  border-color: #73a9f1;
  box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px,
    rgba(66, 133, 244, 0.15) 0px 3px 6px 2px;
}

label {
  line-height: 32px;
}

input {
  min-width: 40px;
  height: 32px;
  padding: 6px 8px;
  vertical-align: top;
  border: none;
  outline: none;
  box-shadow: inset 0 -1px #5f6368;
}

input:focus {
  border-width: 2px;
  box-shadow: inset 0 -2px #1a73e8;
}

input[type="checkbox"] {
  padding: 0 2px;
  cursor: pointer;
  box-shadow: none;
  appearance: none;
}

input[type="checkbox"]::before {
  position: absolute;
  padding: 6px 14px;
  margin: 10px 4px;
  content: "";
  background: #bdc1c6;
  border-radius: 8px;
}

input[type="checkbox"]::after {
  position: absolute;
  padding: 8px;
  margin: 8px 1px;
  content: "";
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}

input[type="checkbox"]:checked::before {
  background: #8db9f4;
}

input[type="checkbox"]:checked::after {
  background: #1a73e8;
  transform: translateX(18px);
}

input[type="radio"] {
  padding: 0 4px;
  cursor: pointer;
  box-shadow: none;
  appearance: none;
}

input[type="radio"]:before {
  position: absolute;
  padding: 4px;
  margin: 10px;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #5f6368;
}

input[type="radio"]:checked::before {
  background: #1a73e8;
  box-shadow: 0 0 0 2px #1a73e8;
}

select {
  min-width: 40px;
  height: 32px;
  padding: 6px 8px;
  cursor: pointer;
  background: #f1f3f4;
  border: none;
  border-right: 5px solid #f1f3f4;
  border-radius: 4px;
  outline: none;
}

select:focus {
  box-shadow: 0 1px 3px #ccc;
}

select option {
  background: #fff;
}

table {
  border-collapse: collapse;
}

tr:hover {
  background: rgba(0, 0, 0, 0.02);
}

tr > * {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dadce0;
}

@keyframes tmd-progress-spin {
  0% {
    transform: rotate(-360deg);
  }
}

progress {
  width: 0;
  height: 0;
  padding: 13px;
  border: 3px solid #3367d6;
  border-top-color: #0000;
  border-radius: 50%;
  animation: tmd-progress-spin 0.5s linear infinite;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: none;
}

progress::-moz-progress-bar {
  background: none;
}
